@import 'owl.carousel';

//@import 'theme';
/* owl carousel */
$color-base:			$primary-color !default;
$color-white:			#FFF !default;
$color-gray:			#A4A4A4 !default;

//nav

$nav-color: 			$color-gray !default;
$nav-color-hover:		$primary-color!default;
$nav-font-size: 		12px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		transparent !default;
$nav-background-hover:	transparent !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				18px !default;
$dot-height:			18px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		rgba($secondary-color, 0.6) !default;
$dot-background-active:	$secondary-color !default;

@import 'theme';
/* end owl carousel */